@model HumanResource.ViewModel.GeneralSettingViewModel
@{
    ViewData["Title"] = "AddGeneralSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title" id="horz-layout-basic">General Settings Form </h4>
                </div>
                <p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form  class="form form-horizontal">
                       
                        <div class="form-body">
                            <h4 class="form-section">
                                <i class="icon-user"></i>General information
                            </h4>
                            <input type="hidden" asp-for="ExtraAndDiscount.Id" />
                            <div class="form-group row">
                                <label class="col-md-3 label-control">The extra: </label>
                                <div class="col-md-9">

                                    <input asp-for="ExtraAndDiscount.Extra" disabled class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control">
                                    Discount:
                                </label>
                                <div class="col-md-9">
                                    <input asp-for="ExtraAndDiscount.Discount" disabled class="form-control">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-md-3 label-control">Weekly Holidays: </label>
                                <div class="col-md-9">
                                    @for (int i = 0; i < Model.Holidayes.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Holidayes[i].Id" />
                                        <input type="hidden" asp-for="@Model.Holidayes[i].Name" />
                                        
                                        <label class="form-check-label" asp-for="@Model.Holidayes[i].IsSelected">
                                            @Model.Holidayes[i].Name
                                        </label><br />

                                    }

                                </div>
                            </div>

                            <div class="form-actions">
                                <a asp-action="AddGeneralSetting" class="btn btn-primary">
                                    <i class="icon-note"></i> Add
                                </a>
                                <a asp-action="EditGeneralSetting"  class="btn btn-success">
                                    <i class="icon-note"></i> Edit
                                </a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
