
<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Zero configuration table -->
            <section id="configuration">

                <h3>Not Found </h3>

                <h4>@ViewBag.ErrorMessage</h4>
                <h5>@ViewBag.Path</h5>
                <h6>@ViewBag.Qs</h6>

                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Back to Home</a>
            </section>
        </div>
    </div>
</div>